<h2 class="m-3">Operators</h2>
<div class="row mx-2 ">
  <div class="col-md-12">
    <ul class="list">
      <li><a routerLinkActive="active" (click)="Navigate('/fromEvent')">fromEvent</a></li>
      <li><a routerLinkActive="interval" (click)="Navigate('/interval')">Interval & Timer</a></li>
      <li><a routerLinkActive="of-from" (click)="Navigate('/of-from')">Of From</a></li>
      <li><a routerLinkActive="to-array" (click)="Navigate('/to-array')">To Array</a></li>
      <li><a routerLinkActive="custom" (click)="Navigate('/custom')">Custom</a></li>
      <li><a routerLinkActive="map" (click)="Navigate('/map')">Map</a></li>
      <li><a routerLinkActive="pluck" (click)="Navigate('/pluck')">Pluck</a></li>
      <li><a routerLinkActive="filter" (click)="Navigate('/filter')">Filter</a></li>
      <li><a routerLinkActive="tap" (click)="Navigate('/tap')">Tap</a></li>
      <li><a routerLinkActive="take" (click)="Navigate('/take')">Take</a></li>
    </ul>
  </div>
</div>
