<div class="m-3">
  <h2>Take, TakeLast and TakeUntil</h2>
  <br />
  <hr>
  <p class="bg-light py-2 px-3 border rounded">
    Names = 'Rooshan', 'Baber', 'Ahmed', 'Ali', 'Aneeq', 'Basit','Fasih','Haroon'
  </p>
  <hr>
  <div class="row">
    <!-- Ex - 01 -->
    <div class="col-md-4">
      <strong>Ex - 01</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Take( 4 )</strong>
      </p>
      <ul id="elContainer"></ul>
    </div>

    <!-- Ex - 02 -->
    <div class="col-md-4">
      <strong>Ex - 02</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>TakeLast( 4 )</strong>
      </p>
      <ul id="elContainer2"></ul>
    </div>

    <!-- Ex - 03 -->
    <div class="col-md-4">
      <strong>Ex - 03</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>TakeUntil( timer(6000) )</strong>
      </p>
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
