<div class="m-3">
  <h2>Of From</h2>
  <br />
  <strong>Ex - 01 (OF)</strong>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <p class="bglight border rounded p-3">
        <strong>Data: </strong>Of ('Rooshan', 'Baber', 'Arsalan')
      </p>
      <hr />
      <ul id="elContainer"></ul>
    </div>

    <div class="col-md-6">
      <p class="bglight border rounded p-3">
        <strong>Data: </strong>Of (&#123;a : 'Rooshan',b : 'Baber',c :
        'Arsalan'&#125;)
      </p>
      <hr />
      <ul>
        <li><strong>a : </strong>{{ obsmsg.a }}</li>
        <li><strong>b : </strong>{{ obsmsg.b }}</li>
        <li><strong>c : </strong>{{ obsmsg.c }}</li>
      </ul>
    </div>
  </div>
  <br />
  <strong>Ex - 02 (From)</strong>
  <div class="row">
    <div class="col-md-4">
      <br />
      <strong>Array</strong>
      <hr />
      <p class="bglight border rounded p-3">
        <strong>Data: </strong>From (['Rooshan', 'Baber', 'Arsalan'])
      </p>
      <hr />
      <ul id="elContainer3"></ul>
    </div>
    <!-- PROMISE -->
    <div class="col-md-4">
      <br />
      <strong>Promise</strong>
      <hr />
      <p class="bglight border rounded p-3">
        <strong>Data: </strong>Promise to Observable
      </p>
      <hr />
      <ul id="elContainer4"></ul>
    </div>
    <!-- STRING -->
    <div class="col-md-4">
      <br />
      <strong>String</strong>
      <hr />
      <p class="bglight border rounded p-3">
        <strong>Data: </strong>String to Observable
      </p>
      <hr />
      <ul id="elContainer5"></ul>
    </div>
  </div>
</div>
