<div class="m-3">
    <h2>Filter</h2>
    <br />
    <div class="row">
      <!-- Ex - 01 -->
      <div class="col-md-4">
        <strong>Ex - 01</strong>
        <hr />
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Filter:</strong> By Length
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Ex - 02 -->
      <div class="col-md-4">
        <strong>Ex - 02</strong>
        <hr />
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Filter:</strong> By Gender
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data2">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.gender}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Ex - 03 -->
      <div class="col-md-4">
        <strong>Ex - 03</strong>
        <hr />
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Filter:</strong> By nth Item
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data3">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.gender}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  