<div class="m-3">
  <h2>Interval & Timer</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card m-4">
        <div class="card-header">User 1</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="card m-4">
          <div class="card-header">User 2</div>
          <div class="card-body">
            <ul id="elContainer1"></ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card m-4">
          <div class="card-header">User 3</div>
          <div class="card-body">
            <ul id="elContainer2"></ul>
          </div>
        </div>
      </div>
  </div>
</div>
