<div class="my-3">
  <h2>Tap</h2>
  <br />
  <!-- Ex - 01 -->
  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded"><strong>Tap: </strong>Unsubscribe on Array completion</p>
      <ul id="elContainer"></ul>
    </div>

    <!-- Ex - 02 -->
    <div class="col-md-6" [ngStyle]="{color:mycolor}">
      <strong>Ex - 02</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded"><strong>Tap: </strong>Change Color</p>
      <ul id="elContainer2"></ul>
    </div>
  </div>
</div>
