<div class="m-3">
    <h2>toArray</h2>
    <br>
    <strong>Ex - 01</strong>
    <hr>
    <div class="row">
        <div class="col">
          <p class="bglight border rounded p-3">
            <strong>Data of : </strong>Observable using toArray
          </p>
          <hr />
          <ul id="elContainer"></ul>
        </div>
      </div>
      <strong>Ex - 02</strong>
      <hr>
    <div class="row">
        <div class="col">
          <p class="bglight border rounded p-3">
            <strong>Data of : </strong>Object using toArray
          </p>
          <hr />
          <ul id="elContainer2">
            <li *ngFor="let user of obsmsg">{{ user.name }} - {{ user.skill }}</li>
          </ul>
        </div>
      </div>
</div>
