<div class="m-3">
  <h2>From Event</h2>
</div>
  <div class="row">
    <div class="col-md-3">
      <div class="card m-4">
        <div class="card-header">Add Video</div>
        <div class="card-body">
          <button #addBtn class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card mt-4" >
        <div class="card-header">List</div>
        <div class="card-body" style="text-align: center;">
          <ul id="elContainer">
          </ul>
        </div>
      </div>
    </div>
  </div>

